.work-containers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.work-block{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    gap: 50px;
    margin-left: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.work-title{
    font-family: Abel;
    font-weight: bold;
    font-size: 30px;
    width: 900px;
    margin-bottom: 10px;
}


.work-images{
    border-radius: 500px;
    transition: opacity, 0.3s;
}

.work-images:hover{
    opacity: 0.7;
}

li{
    font-family: Abel;
    margin-bottom: 10px;
    font-size: 20px;
}


